.footer {
    background-color:#222;
    color: #fff;
    padding: 2rem;

    // control the inside container width and make it center
    .footer-container {
        max-width: 1000px;  
        margin: 0 auto;   // make it center
        display: flex;
        justify-content: space-around;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 2rem;
        }

        .footer-column {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h4 {
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
            }

            a {
                color: #ccc;
                text-decoration: none;
                font-size: 0.9rem;

                &:hover {
                    color: rgba(175, 113, 113, 0.938);
                }
            }
        }
    }


}